.formscreen{
    background-image: url('../../public/bgbabushka.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
        .formcontainer{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37.5rem;
            height: 50rem;
            background-image: url('../../public/bgform.png');
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5.625rem;
                margin-right: 5.625rem;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                input[type='file']{
                    display: none;
                }
            .GenderContainer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 26.25rem;
                .radiogroup{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        input[type='radio']{
                            box-sizing: border-box;
                            width: 2.5rem;
                            height: 2.5rem;
                            appearance: none;
                            border-radius: 50%;
                            display: grid;
                            place-content:center;
                    }
                        input[type='radio']::before{
                            content: "\2714";
                            font-size: 1rem;
                            transform: scale(0);
                            text-align: center;
                            border-radius: 50%;
                            width: 1.25rem;
                            height: 1.25rem;
                            transition: 120ms transform ease-in-out;
                        }
                        input[type='radio']:checked::before{
                            transform: scale(2);

                        }
                        #male{
                            background-color: rgba(144, 241, 239, 0.67);
                            border-color: rgba(71, 206, 203, 1);
                            margin-left: 0;
                        }
                        #male::before{
                            color:rgb(255, 158, 182) ;
                        }
                        #female{
                            background-color: rgba(255, 214, 224, 1);
                            border-color: rgba(208, 168, 178, 1);
                            margin-right: 0;
                        }
                        #female::before{
                            color:rgb(62, 185, 183);
                        }
                }
                }
            }
        }
    }

label,input,textarea{
    margin-bottom: 1rem;
}
input{
    width: 26.25rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid;
}
input[type='text']{
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
#name{
    background-color: rgba(123, 241, 168, 0.44);
    border-color: rgba(50, 200, 107, 1);
}
#age{
    background-color: rgba(193, 251, 164, 0.44);
    border-color:rgba(161, 210, 137, 1);
}
textarea{
    width: 26.25rem ;
    height: 10rem;
    resize: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 239, 159, 0.47);
    border-color: rgba(203, 187, 106, 1);
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
label{
    font-size: 1.675rem
}
button{
    width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid red;
    background-color: rgb(252, 113, 148);
    color:rgb(186, 252, 251);
    font-size: 1.5rem;
}
input[type='file']{
    display: none;
}
.InputFile{
    background-color: rgb(248, 203, 214);
    padding: 1rem;
    border-radius: 1rem;
}