.dashboard{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 202, 212, 1);
    .chats{
        display:flex;
        flex-direction: column;
        width: 18.75rem;
        background-color: rgba(4, 3, 15, 1);
        color: aqua;
        .chatrows{
            margin-left: .1rem;
        }
    }
    .cardsorchatoredit{
        display: flex;
        width: calc(100vw - 18.75rem);
        justify-content: center;
        align-items: center;
        .cardscontainer{
            display: grid;
            grid-template-columns: 21.875rem;
            grid-template-rows: 31.25rem;
        }
    }
}
@media screen and (max-width:700px) {
    .dashboard{
    .chats{
        width: 3rem;
        h1{
            display: none;
        }
        .chatrows{
            margin: 0%;
        }
    }
    .cardsorchatoredit{
        width: calc(100vw - 3rem);
        .cardscontainer{
            grid-template-columns: 17.5rem;
            grid-template-rows: 25rem;
        }
    }
}
}