.chatwincontainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 6.25rem calc(100vh - 11.25rem) 5rem;
    .head{
        display: grid;
        grid-template-columns: 3rem 5rem 2rem;
        background-color: rgb(49, 49, 49);
        height: 6.25rem;
        align-items: center;
        img{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
        }
        h1{
            margin-left: 5rem;
            color: azure;
        }
        .goback{
            width: 3rem;
            height: 100%;
            border-radius: 0%;
            background-color: rgb(49, 49, 49);
            border: 0px;
        }
    }
    .messagebox{
        height: 100%;
        form{
            height: 100%;
            display: flex;
            flex-direction: row;
            textarea{
                width: calc(100% - 10rem);
                box-sizing: border-box;
                height: 100%;
                margin: 0;
                border: 0px;
                border-radius: 15px 15px 0px 0px;
                outline: none;
            }
            button{
                align-self:center;
                height: 100%;
                width: 10rem;
            }
        }
    }
}
.msgcontainer1{
    margin-bottom: 5rem;
    margin-right: 5rem;
    width:fit-content;
    max-width: 50rem;
    height: fit-content;
    display: grid;
    align-self: flex-end;
    background-color:darkgray;
    align-self: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 15px 15px 0px 15px;
    padding: .1rem 2rem;
}
.msgcontainer2{
    margin-bottom: 5rem;
    margin-left: 5rem;
    width:fit-content;
    max-width: 50rem;
    height: fit-content;
    display: grid;
    align-self: flex-end;
    background-color:rgb(173, 167, 167);
    align-self: flex-start;
    word-break: break-all;
    border-radius: 0px 15px 15px 15px;
    padding: .1rem 2rem;
}
.messagescontainer{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}
.messagescontainer :first-child{
    margin-top: 2rem;

}
.messagescontainer::-webkit-scrollbar {
    display: none; 
}
@media screen and (max-width:700px){
    .chatwincontainer{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 3rem calc(100vh - 6rem) 3rem;
        .head{
            display: grid;
            grid-template-columns: 3rem 2rem 2rem;
            background-color: rgb(49, 49, 49);
            height: 100%;
            align-items: flex-start;
            img{
                margin-left: 2rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover;
            }
            .goback{
                margin-left: 2rem;
                width: 2rem;
                height: 3rem;
                border-radius: 0%;
                background-color: rgb(49, 49, 49);
                border: 0px;
            }
            h1{
                margin-left: 4rem;
                font-size: 2rem;
                margin-top: 0%;
            }
        }
        .messagebox{
            height: 100%;
            form{
                height: 100%;
                display: flex;
                flex-direction: row;
                textarea{
                    width: calc(100% - 5rem);
                    box-sizing: border-box;
                    height: 100%;
                    margin: 0;
                    border: 0px;
                    border-radius: 15px 15px 0px 0px;
                    outline: none;
                }
                button{
                    align-self:center;
                    height: 100%;
                    width: 5rem;
                    font-size:.8rem;
                }
            }
        }
    }
    .msgcontainer1{
        margin-bottom: 5rem;
        margin-right: 1rem;
        width:fit-content;
        max-width: 10rem;
        height: fit-content;
        display: grid;
        align-self: flex-end;
        background-color:darkgray;
        align-self: flex-end;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 15px 15px 0px 15px;
        padding: .1rem 2rem;
    }
    .msgcontainer2{
        margin-bottom: 5rem;
        margin-left: 1rem;
        width:fit-content;
        max-width: 10rem;
        height: fit-content;
        display: grid;
        align-self: flex-end;
        background-color:rgb(173, 167, 167);
        align-self: flex-start;
        word-break: break-all;
        border-radius: 0px 15px 15px 15px;
        padding: .1rem 2rem;
    }
    .messagescontainer{
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll; 
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;
    }
    .messagescontainer :first-child{
        margin-top: 2rem;
    
    }

}