.chatwincontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .head{
        display: grid;
        grid-template-columns: 3rem 5rem 2rem;
        background-color: rgb(49, 49, 49);
        height: 6.25rem;
        align-items: center;
        img{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
        }
        h1{
            margin-left: 5rem;
            color: azure;
        }
        .goback{
            width: 3rem;
            height: 100%;
            border-radius: 0%;
            background-color: rgb(49, 49, 49);
            border: 0px;
        }
        .goback:hover{
            animation-name: tudasuda;
            animation-duration: .4s;
            animation-iteration-count: infinite;
        }
    }
    .messagebox{
        width: 95%;
        margin-bottom: 1rem;
        margin-left: 2rem;
        display: flex;
        flex-basis: auto;
        flex-grow: 2;
        form{
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-shrink: 2;
            .textarea{ 
                align-self: flex-end;
                border-radius: 0%;
                width: calc(100% - 10rem);
                box-sizing: border-box;
                margin: 0;
                border: 0px;
                outline: none;
                margin-right: 1rem;
                overflow-y: scroll;
                background-color: rgb(245, 240, 240);
                padding: 1rem;
            }
            button[type='submit']{
                height: initial;
                align-self:flex-end;
                background-color: black;
                padding: .2rem;
                width: 10rem;
                font-size: 3rem;
                cursor: pointer;
                p{
                    display: inline;
                }
            }
            button:hover{
            p{
                animation-duration: .4s;
                animation-name: tudasuda;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
            @keyframes tudasuda {
                from {
                    margin-right: 10%;
                    width: 100%;
                  }
                
                  to {
                    margin-left: 10%;
                    width: 100%;
                  }
            }
        }
    }
}
.msgcontainer1{
    margin-bottom: 5rem;
    margin-right: 5rem;
    width:fit-content;
    max-width: 50rem;
    height: fit-content;
    display: grid;
    align-self: flex-end;
    background-color:darkgray;
    align-self: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 15px 15px 0px 15px;
    padding: .1rem 2rem;
    .datetime{
        justify-self:right;
    }
}
.msgcontainer2{
    margin-bottom: 5rem;
    margin-left: 5rem;
    width:fit-content;
    max-width: 50rem;
    height: fit-content;
    display: grid;
    align-self: flex-end;
    background-color:rgb(173, 167, 167);
    align-self: flex-start;
    word-break: break-all;
    border-radius: 0px 15px 15px 15px;
    padding: .1rem 2rem;
}
.messagescontainer{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    flex-shrink: 10;
    flex-grow: 10000;
    flex-basis: auto;
}
.messagescontainer :first-child{
    margin-top: 2rem;

}
.messagescontainer::-webkit-scrollbar {
    display: none; 
}
.content{
    font-size: 1.5rem;
}
.datetime{
    font-size: 1rem;
}
@media screen and (max-width:700px){
    .chatwincontainer{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 3rem calc(100vh - 6rem) 3rem;
        .head{
            display: grid;
            grid-template-columns: 3rem 2rem 2rem;
            background-color: rgb(49, 49, 49);
            height: 100%;
            align-items: flex-start;
            img{
                margin-left: 2rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover;
            }
            .goback{
                margin-left: 2rem;
                width: 2rem;
                height: 3rem;
                border-radius: 0%;
                background-color: rgb(49, 49, 49);
                border: 0px;
            }
            h1{
                margin-left: 4rem;
                font-size: 2rem;
                margin-top: 0%;
            }
        }
        .messagebox{
            margin: 0;
            form{
                height: 100%;
                display: flex;
                flex-direction: row;
                .textarea{
                    width: calc(100% - 5rem);
                    height: 100% !important;
                    box-sizing: border-box;
                    margin: 0;
                    border: 0px;
                    outline: none;
                    height: max(100%, 3rem);
                }
                button[type='submit']{
                    padding: .5rem;
                    align-self:center;
                    height: 100%;
                    width: 5rem;
                    font-size:2rem;
                    text-align: center;
                    p{
                        margin: 0% !important;
                    }
                }
            }
        }
    }
    .msgcontainer1{
        margin-bottom: 5rem;
        margin-right: 1rem;
        width:fit-content;
        max-width: 10rem;
        height: fit-content;
        display: grid;
        align-self: flex-end;
        background-color:darkgray;
        align-self: flex-end;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 15px 15px 0px 15px;
        padding: .1rem 2rem;
    }
    .msgcontainer2{
        margin-bottom: 5rem;
        margin-left: 1rem;
        width:fit-content;
        max-width: 10rem;
        height: fit-content;
        display: grid;
        align-self: flex-end;
        background-color:rgb(173, 167, 167);
        align-self: flex-start;
        word-break: break-all;
        border-radius: 0px 15px 15px 15px;
        padding: .1rem 2rem;
    }
    .messagescontainer{
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll; 
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;
    }
    .messagescontainer :first-child{
        margin-top: 2rem;
    
    }

}